.sign-up {
  margin: 2rem auto;
  /* outline: 1px solid red; */
  min-height: calc(100vh - 80px);
  max-width: 500px;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  align-items: center;
}

.sign-up__form {
  width: 100%;
  /* outline: 1px solid blue; */
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.sign-up__form-entry {
  padding: 0.7rem 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(225, 238, 243);

  font-family: inherit;
  font-size: 1.2rem;
}

.signup__button {
  padding: 0.7rem 0.5rem;
  border-radius: 5px;
  border: none;
  color: #eee;
  background-color: rgb(14, 86, 114);

  font-family: inherit;
  font-size: 1.2rem;
}

.sign-up__extras {
  width: 100%;
  /* outline: 1px solid blue; */
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  font-size: 0.8rem;
  margin-top: -0.9rem;
}

/* PROFILE */
.profile {
  text-align: center;
}

.profile__form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-inline: auto;

  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.profile__picture {
  height: 100px;
  width: 100px;

  border-radius: 50%;
  cursor: pointer;
}

.profile__input {
  background-color: rgb(231, 236, 241);
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 0.8rem;
}

.profile__button {
  background-color: rgb(71, 92, 117);
  color: #eee;
  text-transform: uppercase;
}

.profile__actions {
  padding-inline: 5px;
  color: red;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
